*{
	padding:0px;
	margin: 0px;
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
}
.top{
	width: 1200px;
	height: 32px;
	/*background-color: red;*/
	margin: 0 auto;
	border-bottom: 1px solid red;
}
.container{
	width：100%；
	height: 32px;
	margin: 0 auto;
}
.right{
	float: right;
}
.right>li{
	float: left;
	margin-left: 24px;
	font-size: 12px;
	line-height: 32px;
}
.right a{
	color: #000;
}
/*.right img{
	vertical-align: top;
	margin-right: 6px;*/
}
.right .mobile{
	padding-left: 15px;
	background: url(img/ipone.png) no-repeat left center;
}